@import url("/css/Colours.css");

.blog-welcome-swapper{
    background-image: url("https://picsum.photos/1920/1080");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.blog-welcome-content{
    height: 100%;
    width: 100%;
    background: rgb(221,42,123);
    background: linear-gradient(
        90deg,
        rgba(221, 42, 123, 0.8) 27%,
        rgba(254,218,119,0.8) 89%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5% 15%;
    color: #fff;
}

#blog-welcome-text{
    font-family: karla;
    padding-bottom: 2%;
}

#blog-name-text{
    font-family: karla;
    font-size: 13vw;
    font-weight: bold;
    
}