/* İmport Colours */
@import url("./Colours.css");

/* Welcome Section */
.welcome-section-swapper{
    width: 100%;
    height: 100vh;
    background-color: var(--DARK-BLUE);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 15% 5vh 15%;
}

.landing{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#my-name-text{
    color: var(--MY-GRAY);
    margin: 0 0 2rem 0;
    font-weight: 400;
    font-family: karla;
}

.description{
    color: var(--WHITE);
    font-size: 2.5rem;
    letter-spacing: .07rem;
    text-transform: uppercase;
    margin: .75rem 0;
    font-weight: 700;
    line-height: 1.5em;
    font-family: karla;
}

#scroll-btn{
    color: var(--WHITE);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    font-family: karla;
    margin-bottom: 5vh;
    opacity: .6;
    
}

/* Content */
.content-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.left-section{
    width: 50%;
    padding: 30px 12% 0 0%;
}

#content-image{
    height: 700px;
}

#content-title{
    font-family: karla;
    font-weight: 700;
    color: var(--BLACK);
    font-size: 2rem;
    margin-bottom: .5rem;
}

#content-description{
    font-size: 1rem;
    line-height: 1.5em;
    font-family: karla;
    font-weight: 400;
    letter-spacing: .07;
    margin-bottom: 2rem;
}

#go-project-page{
    text-decoration: none;
    color: var(--MY-PURPLE);
    border: 1px solid var(--MY-PURPLE-BORDER);
    padding: .75rem;
    border-radius: 15px;
    transition: .3s;
    font-family: karla;
    font-size: 14px;
    font-weight: 200;
}

#go-project-page:hover{
    border: 1px solid transparent;
    background-color: var(--MY-PURPLE);
    color: var(--WHITE);
}

.about-intro-swapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.about-intro{
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#me-image{
    width: 350px;
    border-radius: 25px;
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg);
    transition: .5s;
}
#me-image:hover{
    -ms-transform: translate(25%);
    transform: translate(25%);
}

.about-intro-content{
    padding: 0 0 0 15%;
    font-family: karla;
}

#about-intro-title{
    font-weight: 700;
    color: var(--DARK-BLUE);
    margin-bottom: 1rem;
}

#about-intro-description{
    font-weight: 400;
    color: var(--MY-GRAY);
    margin-bottom: 10vh;
}

#about-btn{
    text-decoration: none;
    font-family: karla;
    font-weight: 200;
    color: var(--MY-GRAY);
    padding: .5rem 3rem;
    border: 1px solid var(--MY-GRAY);
    border-radius: 10px;
    font-size: 14px;
    transition: .3s;
}

#about-btn:hover{
    border-radius: 50px;
    background-color: var(--MY-GRAY);
    color: var(--WHITE);
    opacity: .7;
}

footer{
    background-color: var(--DARK-BLUE);
    height: 25vh;
    display: flex;
    justify-content: space-between;
    padding: 0 10% 0 10%;
    align-items: center;
}

#footer-title{
    color: var(--MY-GRAY);
    font-weight: 700;
    font-family: karla;
    margin-bottom: 1rem;
    font-size: 16px;
    line-height: 1.5em;
}

#footer-email{
    font-weight: 400;
    font-family: karla;
    color: var(--WHITE);
    opacity: .8;
    font-size: 16px;
    line-height: 1.5em;
}

.social-media{
    display: flex;
    list-style-type: none;
    color: #fff;
}

.media-item{
    font-size: 2.5rem;
    margin-left: .75rem;
    margin-right: .75rem;
}

a{
    color: var(--WHITE);
    transition: .3s;
}

#instagram:hover{
    color: var(--MY-PURPLE); 
}

#linkedin:hover{
    color: var(--MY-BLUE); 
}

#github:hover{
    color: #7d0fff;
}

.skills{
    list-style-type: none;
    margin-bottom: 5%;
}

.item{
    margin: 2% 0 2% 0;
    border-bottom: 1px solid var(--MY-BLUE);
    padding: .5rem;
    width: 25%;
    transition: .8s;
}
.item:hover{
    width: 100%;
    text-align: center;
    background-color: var(--MY-BLUE);
    color: var(--WHITE);
    opacity: .8;
}
/* Responsive */

/* Large */
@media (min-width: 1201px) {
    
}

/* Desktop */
@media (max-width: 1200px) {
    
}

/* Laptop */
@media (max-width: 1050px) {
   
}

@media (max-width: 954px) {
    .about-intro{
        padding-bottom: 25%;
    }
    .skills{
        margin-bottom: 10%;
    }
}


@media (max-width: 900px) {
    
}


/* Tablets */
@media (max-width: 780px) {
    .content-wrapper{
        padding: 15% 0 0 0;
        height: fit-content;
    }

    .content{
        flex-direction: column;
        margin-bottom: 15%;
    }
    
    .left-section{
        padding:  0 0 5% 0;
    }

    #go-project-page{
        display: block;
        text-align: center;
    }

    .about-intro-swapper{
        padding: 15% 0 15% 0;
        height: fit-content;
        border-top: 1px solid var(--MY-GRAY);
    }

    .about-intro{
        flex-direction: column;
    }

    #me-image {
        margin-left: -25%;
        margin-bottom: 10%;
    }
}

/* Phone */
@media (max-width: 490px) {
    #me-image{
        width: 200px;
    }

    #content-image{
        height: 500px;
        margin-top: 5%;
    }

    .left-section{
        width: 100%;
        padding: 0 5% 0 5%;
    }

    .about-intro-content{
        padding: 0;
    }

    #about-btn{
        display: block;
        text-align: center;
    }

    footer{
        flex-direction: column;
        padding: 1.5rem;
    }

    .footer-right{
        margin-top: 10%;
        width: 100%;
    }
    .social-media{
        width: 100%;
        justify-content: space-between;
        
    }
}